
  
<div class="container mt-5">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Social Security Number</th>
          <th scope="col">Security Series</th>
          <th scope="col">Security Number</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Date</th>
          <th scope="col">Number of Hours</th>
          <th scope="col">bykeType</th>
          <th scope="col">numberOfBykes</th>

      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let record of records "> 
          <td>{{ record.id }}</td>
          <td>{{ record.clientInformation.name }}</td>
          <td>{{ record.clientInformation.SSN  }}</td>
          <td>{{ record.clientInformation.securitySeries  }}</td>
          <td>{{ record.clientInformation.securityNumber  }}</td>
          <td>{{ record.clientInformation.phoneNumber }}</td>
          <td>{{ record.rentalDetails.date }}</td>
          <td>{{ record.rentalDetails.numberOfHours }}</td>
          <td>{{ record.rentalDetails.bikeDetails.bykeType }}</td>
          <td>{{ record.rentalDetails.bikeDetails.numberOfBykes }}</td>

      </tr>
    </tbody>
  </table>
</div>


