td, th {
    text-align: center; 
    vertical-align: middle;
}

input {
    width: 25%;
}

.inline {
    display: inline;
}

table { 
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 700px;
}

button {
    margin-left: 10px;
}


input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 95%;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-top: 45px;
    margin-bottom: -15px;
    margin-left: 10px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    background-color: #2196F3; /* Set your primary color */
    color: white;
    }

    .alert {
        position: absolute;
        z-index: 3;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        top: 8rem;
        width: 250px;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.25rem;
        padding: 0.5rem;
        background: red;
        color: #fff;
        font-size: large;
        font-weight: 700;
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
        /* opacity: 0; */
        text-align: center;
        transition: all 0.5s ease-in-out;
        pointer-events: none; /* Prevents the alert from blocking interactions with other elements */
    }
    
    
    .visible {
        animation: fadeInOut 7s forwards; /* 3s visible + 4s fade out */
    }
    
    @keyframes fadeInOut {
        0% {
            opacity: 0;
            top: 0.5rem;
        }
        20% {
            opacity: 1;
            top: 2rem;
        }
        80% {
            opacity: 1;
            top: 2rem;
        }
        100% {
            opacity: 0;
            top: 0.5rem;
        }
    }