

<div class="container mt-5">
    <div class="inline">
      <input type="text" class="form-control inline" placeholder="Search..." [(ngModel)]="filterTerm">     
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Social Security Number</th>
            <th scope="col">Security Series</th>
            <th scope="col">Security Number</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Date</th>
            <th scope="col">Number of Hours</th>
            <th scope="col">bykeType</th>
            <th scope="col">numberOfBykes</th>

        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let record of records | filter: filterTerm | paginate: { itemsPerPage: 10, currentPage: page }"> 
            <td>{{ record.$.id }}</td>
            <td>{{ record.clientInformation[0].name }}</td>
            <td>{{ record.clientInformation[0].SSN  }}</td>
            <td>{{ record.clientInformation[0].securitySeries  }}</td>
            <td>{{ record.clientInformation[0].securityNumber  }}</td>
            <td>{{ record.clientInformation[0].phoneNumber }}</td>
            <td>{{ record.rentalDetails[0].date }}</td>
            <td>{{ record.rentalDetails[0].numberOfHours }}</td>
            <td>{{ record.rentalDetails[0].bikeDetails[0].bykeType }}</td>
            <td>{{ record.rentalDetails[0].bikeDetails[0].numberOfBykes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls 
      previousLabel="Prev" 
      nextLabel="Next" 
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
